@import "tailwindcss";

@theme {
  --color-brand-DEFAULT: #111827;
  --color-brand-light: #374151;
  --color-brand-accent: #0f172a;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0;
}
